* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Top menu */
.menu-container {
    color: lightsteelblue;
    background-color:lightslategray;
    display:flex;
    padding: 20px 20px;
    justify-content:center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content:space-between;
    color: black;

}

.login {
    justify-content: flex-end;
    display: flex;
}

.signin {
    margin-left: auto;
    margin-right: 20px;
}


/* Header */

.header-container {
    color: black;
    background-color: salmon;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px; 
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Image grid */

.photo-grid-container {

    display: flex;
    justify-content: center;
}

.photo-grid {
    width:  900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-grid-item {
    width: 300px;
    height: 300px;
}

.subscribe,
.social {
    align-self: flex-end;
    margin-bottom: 20px;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer-item {
    border: 1px solid lightsteelblue;
    background-color: beige;
    height: 200px;
    flex: 1;
}

.footer-one,
.footer-three {
    background-color: orange;
    flex: initial;
    width: 300px;
}